body { 
    background-image: url("https://static.tumblr.com/0763dfdfd28a910e5fd315a439e14a7e/t1btliz/8uEohxai8/tumblr_static_tumblr_static_9rl0ymmkqwow8k4s4gkoo40g0_640.jpg");  
}
h1 {
    font-size: 35px; 
    border-radius: 25px; 
    background: grey; 
    width: 200px; 
    height: 75px; 
    padding: 20px; 
} 
header {
    background-image: url("http://wallpapercave.com/wp/oVAjmhn.png"); 
    background-size: 500px;
}  
#text {
	font-size: 21px;
} 
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
	float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
#aboutMe {
	font-size: 25px; 
	color: white; 
}
#myDropDown {
	position: relative; 
	display: inline-block; 
}


li a:hover {
    background-color: #111;

}
#top, #bottom, #left, #right {
	background: #a5ebff;
	position: fixed;  
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 9px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }
 